<!--         pagination -->
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end pb-0">
      {% if posts.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ posts.previous_page_number }}" aria-label="Previous">
          Prev
        </a>
      </li>
      {% endif %}

     {% if posts.has_next %}
      <li class="page-item pb-0 mb-0 float-right">
        <a class="page-link" aria-label="Next" href="?page={{ posts.next_page_number }}">
         Next
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>