{% extends "network/layout.html" %}

{% block body %}
			<div class="pl-3 pt-3 first border"> <h4> {% if isfeed %} My Feed {% else %} All Posts {% endif %}</h4></div>
        {% if user.is_authenticated %}
            <div class="media border px-3 pt-3">
              <img src="https://api.adorable.io/avatars/64/{{ user }}@adorable.png" alt="{{ user }}" class="mr-3 ml-3" style="width:60px; border-radius: 50%;">
              <div class="media-body">
                <form id="create-post" method="post">
                    {% csrf_token %}
                  <div class="form-group">
                    <textarea class="form-control" id="content" name="content" placeholder="Bleep something"></textarea>
                  </div>
                  <div class="text-right pb-2">
                  	<button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
              </div>
            </div>
	    
	    	<hr class="m-0 border">
	       {% endif %}

        {% for post in posts %}
	        {% include "network/_post.html" %}
	      {% empty %}
          nothing here
        {% endfor %}  

        {% include "network/_edit_post_modal.html" %}

<!--         pagination -->
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            {% if posts.has_previous %}
            <li class="page-item">
              <a class="page-link" aria-label="First" href="?page=1">
                First
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page={{ posts.previous_page_number }}" aria-label="Previous">
                Prev
              </a>
            </li>
            {% endif %}

           {% if posts.has_next %}
            <li class="page-item">
              <a class="page-link" aria-label="Next" href="?page={{ posts.next_page_number }}">
               Next
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" aria-label="Last" href="?page={{ posts.paginator.num_pages }}">
                Last
              </a>
            </li>
            {% endif %}
          </ul>
        </nav>

{% endblock %}