{% extends "network/layout.html" %}

{% block body %}

			<div class="pl-3 pt-3 first border"> <h4> Home</h4></div>
            <div class="media border px-3 pt-3">
              <img src="https://api.adorable.io/avatars/64/abott@adorable.png" alt="John Doe" class="mr-3 ml-3" style="width:60px; border-radius: 50%;">
              <div class="media-body">
                <form>
                  <div class="form-group">
                    <textarea class="form-control" placeholder="Bleep something"></textarea>
                  </div>
                  <div class="text-right pb-2">
                  	<button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
              </div>
            </div>
    	
	    
	    	<hr class="m-0 border">
	    

	        {% include "network/_post.html" %}
	        {% include "network/_post.html" %}
	        {% include "network/_post.html" %}
	        {% include "network/_post.html" %}

{% endblock %}